{:paths ["src"]
 :deps {etaoin/etaoin {:mvn/version "0.4.6"}
        com.taoensso/carmine {:mvn/version "3.1.0"}
        congomongo/congomongo {:mvn/version "2.2.3"}
        funcool/cuerdas {:mvn/version "2021.05.29-0"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/core.async    {:mvn/version "1.3.618"}}}